warning {
    display: flex;
    align-items: center;
    font-size: 12px;
}

warning span {
    background: #e84118;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    padding: 3px 6px 3px 6px;
    margin-left: 6px;

    border-radius: 4px;
    border: 3px solid #d63031;
}

warning svg {
    color: #e84118;
    width: 30px;
    height: 30px;
}