.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: white;
    box-shadow: 0px 0px 5px #353b48;
    z-index: 9998;
}

.profile {
    font-size: 18px;
    padding: 12px;
}

.profile span {
    margin-left: 6px;
}