#sidebar {
    display: flex;
    flex-direction: column;
    background: var(--main-pink-color);
    z-index: 9999;
}

#sidebar svg {
    width: 30px;
    height: 30px;
}

#sidebar nav {
    margin-top: 100px;
}

.burger_toggle {
    color: black;
    width: fit-content !important;
    padding: 12px;
    transition: 0.3s;
}


#sidebar .sidebar_button {
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;

    padding: 12px;

    color: white;
    font-weight: 500;
    cursor: pointer;
    border-radius: 50px;

    transition: 0.2s;
}

#sidebar .sidebar_button * {
    cursor: pointer;
}

#sidebar .sidebar_button:hover {
    background: white;
    color: #353b48;
}

#sidebar .sidebar_button label {
    margin-left: 12px;
    position: relative;
    display: none;
}

/* Sidebar expanded */
#sidebar.expanded {
    padding-left: 12px;
}
#sidebar.expanded .sidebar_button label {
    display: block;
}

#sidebar.expanded .sidebar_button {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.burger_toggle.expanded {
    transform: rotate(90deg);
}