.pagination {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-bottom: 12px;
    justify-content: center;
    width: fit-content;
    box-sizing: border-box;
    border: 1px solid #2980b9;
    background: white;
    border-radius: 5px;
}

.pagination .step-links{
    padding: 6px 18px;
    border-radius: 0px;
    font-weight: 600;
}

.pagination .step-links.current {
    background: #3498db;
    color: white;
}