{% extends 'base.html' %}

{% block title %} Редактирование телеграм профиля {% endblock %}

{% block header %}
<a href="{% url 'masters' %}" class="button-primary">Список телеграм аккаунтов</a>
{% endblock %}

{% block content %}

<div class="container">
    <div class="form_wrapper">
        <h1>Профиль мастера</h1>
        <form method="POST">
            {% csrf_token %}
            {{form}}
            <input type="submit" value="Сохранить" class="master_submit">
        </form>
    </div>
</div>
{% endblock %}